<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <style>
      html,
      body {
        margin: 0;
        padding: 0;
        width: 100%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position: relative;
        box-sizing: border-box;
        height: 100%;
      }
      body {
        padding: 1px 0;
      }
      .tableSection table {
        border-collapse: collapse;
        width: 100%;
      }
      .tableSection table:first-child {
        margin-bottom: 10px;
      }
      .tableSection table td,
      table th {
        border: 1px solid #000000;
        height: 18px;
      }
    </style>
  </head>
  <body>
    <div class="greenLine"></div>
    <section class="tableSection">
      <table>
        <thead>
          <tr>
            <th>Datum</th>
            <th>Dauer</th>
            <th>Schule / Fach</th>
            <th>Sonstige Anmerkungen</th>
          </tr>
        </thead>
        <tbody>
          <% if (rows.length > 0) { %> <% rows.forEach(row => { %>
          <tr>
            <td><%= row.date %></td>
            <td><%= row.duration %> h</td>
            <td><%= row.subject %></td>
            <td><%= row.notes %></td>
          </tr>
          <% }); %> <% } %> <% for (var i = 0; i < (39 - (rows.length % 39) - 15); i++ ) { %>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <% }; %>
        </tbody>
      </table>
      <table>
        <tr><td width="33%">Stunden gesamt</td><td></td><td width="33%"><%= invoiceInfo.teacherInvoiceData.totalHours %></td></tr>
        <tr><td>Honorar (€)</td><td></td><td><%= invoiceInfo.teacherInvoiceData.fee %></td></tr>
        <tr><td></td><td></td><td></td></tr>
        <tr><td>Zahlung (€)</td><td></td><td><%= invoiceInfo.teacherInvoiceData.totalHourCosts %></td></tr>
        <tr><td></td><td></td><td></td></tr>
        <tr><td>Fahrgeld (evtl.)</td><td>200 km</td><td></td></tr>
        <tr><td>X 1/2</td><td>100 km</td><td></td></tr>
        <tr><td></td><td></td><td></td></tr>
        <tr><td>Verbrauch ø in l</td><td><%= invoiceInfo.teacherInvoiceData.consumption %></td><td></td></tr>
        <tr><td>Preis (€/l)</td><td><%= invoiceInfo.teacherInvoiceData.costPerLiter %></td><td></td></tr>
        <tr><td></td><td></td><td></td></tr>
        <tr><td>Fahrgeld gesamt (€)</td><td><%= invoiceInfo.teacherInvoiceData.totalDrivingCosts %></td><td></td></tr>
        <tr><td><b>Auszahlung gesamt (€)</b></td><td></td><td><b><%= invoiceInfo.teacherInvoiceData.totalCosts %></b></td></tr>
      </table>
    </section>
  </body>
</html>
