<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <style>
      html,
      body {
        margin: 0;
        padding: 0;
        width: 100%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position: relative;
        box-sizing: border-box;
        height: 100%;
      }
      body {
        padding: 1px 0;
      }
      h1 {
        font-size: 25px;
      }
      header {
        width: 100%;
      }
      .logoWrapper{
        position: absolute;
        top: 20px;
        right: 20px;
      }
      .headerData {
        width: 100%;
      }
      .headerData td {
        width: 50%;
      }
      .tableSection table {
        border-collapse: collapse;
        width: 100%;
      }
      .tableSection table td,
      table th {
        border: 1px solid #000000;
        height: 18px;
      }
      .signature {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 200px;
        text-align: right;
      }
      .signature span{
        text-align: right;
        font-size: 10px;
      }
      .footerSection {
        font-size: 12px;
      }
    </style>
  </head>
  <body>
    <div class="greenLine"></div>
    <header>
      <h1>Abrechnung Mitarbeiter</h1>
      <!--<div class="logoWrapper">
        <img src="" alt="Schülertreff"/>
      </div>-->
      <table class="headerData">
        <tr>
          <td>
            <p>Name: <%= teacher.firstName %> <%= teacher.lastName %></p>
          </td>
          <td>
            <p>Monat / Jahr: <%= invoiceInfo.month %></p>
          </td>
        </tr>
      </table>
    </header>
    <section class="tableSection">
      <table>
        <thead>
          <tr>
            <th>Datum</th>
            <th>Dauer</th>
            <th>Schule / Fach</th>
            <th>Sonstige Anmerkungen</th>
          </tr>
        </thead>
        <tbody>
          <% if (rows.length > 0) { %> <% rows.forEach(row => { %>
          <tr>
            <td><%= row.date %></td>
            <td><%= row.duration %> h</td>
            <td><%= row.subject %></td>
            <td><%= row.notes %></td>
          </tr>
          <% }); %> <% } %> <% for (var i = 0; i < 31 - rows.length; i++ ) { %>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <% }; %>
        </tbody>
      </table>
    </section>
    <section class="footerSection">
      <p>
        Liebe Mitarbeiter/innen,<br />
        <br />
        Wir bitten euch um die Abgabe der Abrechnungen bis spätestens zum 28.
        des jeweiligen Monats, sonst können wir die rechtzeitige Überweisung
        nicht garantieren.<br />
        <br />
        Beachtet bitte, dass die Einsendung auf folgende E-Mail erfolgen
        soll:<br />
        <br />
        <a href="mailto:abrechnungen@schuelertreff-nachhilfe.de"
          >abrechnungen@schuelertreff-nachhilfe.de</a
        ><br />
        <br />
        Vielen Dank für eure Unterstützung!
      </p>
    </section>
    <div class="signature">
      <hr />
      <span>(Unterschrift Mitarbeiter/in)</span>
    </div>
  </body>
</html>
